/* Gradient Range Slider */
.range-slider-gradient {
    height: 6px;
    border-radius: 12px;
    background: #353644;
}

.range-slider-gradient .range-slider__thumb {
    border: 2px solid #fff;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
}

.range-slider-gradient .range-slider__thumb[data-lower] {
    background: #F89D34;
}

.range-slider-gradient .range-slider__thumb[data-upper] {
    background: rgb(220, 38, 38);
}

.range-slider-gradient .range-slider__range {
    background: linear-gradient(to right, #F89D34, rgb(220, 38, 38));
    background-size: 200% 100%;
    background-position: 50% 0;
}

.range-slider-gradient .range-slider__range[data-active],
.range-slider-gradient .range-slider__thumb[data-active]~.range-slider__range {
    animation: move-bg 0.75s infinite linear;
}

@keyframes move-bg {
    0% {
        background-position: 50% 0;
    }

    25% {
        background-position: 100% 0;
    }

    50% {
        background-position: 50% 0;
    }

    75% {
        background-position: 0% 0;
    }

    100% {
        background-position: 50% 0;
    }
}